* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board-container {
  display: flex;
}

.board-square {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.ship-size-container {
  display: flex;
}

.shipSizeSquare {
  height: 1em;
  width: 1em;
  background-color: blue;
}

.selected-square {
  background-color: green;
}

.placed {
  background-color: blue;
}

.display {
  height: 20em;
  width: 20em;
  background-color: gray;
}

.player0,
.player1 {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  border: 1px solid black;
}

.board-square {
  height: 5em;
  width: 5em;
}

.hover {
  background-color: rgb(214, 214, 214);
}

.missed-shots {
  background-color: yellow;
}

.hit {
  background-color: green;
}

.sunk {
  background-color: red;
}

.hidden {
  display: none;
}
