* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arimo", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 62.5%;
}

.title {
  font-family: "Staatliches", cursive;
  font-size: 10em;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board-square {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.ship-size-container {
  display: flex;
}
.board-square {
  background-color: rgb(213, 213, 213);
}

.shipSizeSquare,
.placed {
  background-color: rgb(98, 98, 98);
}

.selected-square {
  background-color: white;
}

.display-container {
  display: flex;
  justify-content: center;
  height: 20em;
  width: 20em;
}

.display {
  font-family: "IBM Plex Mono", monospace;
  display: flex;
  align-items: center;
  justify-content: center;
}

.player0,
.player1 {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  border: 1px solid black;
}

.board-square,
.shipSizeSquare,
.cds {
  height: 5em;
  width: 5em;
  border: 1px solid black;
}

.hover {
  background-color: rgb(157, 157, 157);
}

.missed-shots,
.miss-color {
  background-color: white;
}

.hit,
.hit-color {
  background-color: rgb(230, 62, 143);
}

.sunk,
.sunk-color {
  background-color: black;
}

.selected-placed {
  background-color: white;
}

.board-container {
  margin-top: 2em;
  display: flex;
}

.color-desc {
  display: flex;
  align-items: center;
  gap: 3em;
}

.color-text {
  font-size: 2em;
}

.hidden {
  display: none;
}
